# Secretos del Sistema
SECRET_KEY=cambiame_por_una_clave_larga_y_segura
FLASK_ENV=development

# Datos de la Base de Datos (Docker utiliza estos para configurar MySQL)
DB_USER=kanban_user
DB_PASSWORD=kanban_password_123
DB_NAME=kanban_db
DB_HOST=kanban-db
DB_PORT=3306
DB_ROOT_PASSWORD=root_password_segura 

# URL que usará SQLAlchemy (Debe coincidir con los valores de arriba)
# Formato: mysql+pymysql://USER:PASSWORD@HOST/DATABASE
DATABASE_URL=mysql+pymysql://kanban_user:kanban_password_123@kanban-db/kanban_db